<p id="notice"><%= notice %></p>

<h1>Developers</h1>


<table class="table table-striped">
  <thead>
  <tr>
    <th>Email</th>
    <th>Programming Languages</th>
    <th>Languages</th>
  </tr>
  </thead>

  <tbody>
  <% if @developers.present? %>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.email %></td>
        <td>
          <% developer.programming_languages.each do |pro_lang| %>
            <%= pro_lang.name %>
          <% end %>
        </td>
        <td>
          <% developer.languages.each do |language_code| %>
            <%= language_code.code %>
          <% end %>
        </td>
        <!--<td><%= link_to 'Show', developer %></td>-->
        <!--<td><%= link_to 'Edit', edit_developer_path(developer) %></td>-->
        <!--<td><%= link_to 'Destroy', developer, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>No result</td>
      <td></td>
      <td></td>
    </tr>
  <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Developer', new_developer_path %>
