<div class="container">
  <div class="row">
    <div class="col-md-3">
      <span>Left Text</span>
    </div>
    <div class="col-md-6">
      <span>Center Text</span>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <span>Top Text</span>
        </div>
        <div class="col-md-12">
          <span>Bottom Text</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <span>Left Square</span>
    </div>
    <div class="col-md-10 col-sm-10">
      <div class="col-md-12 col-sm-12">
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
          euismod. Donec sed odio dui.
        </p>
      </div>
      <div class="col-md-1 col-sm-2">
        <button type="button" class="btn btn-sm">
          Button
        </button>
      </div>
      <div class="col-md-1 col-sm-2">
        <button type="button " class="btn btn-sm">
          Button
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
  <!--  HTML Form-->
  <!--  Row 1 -->
  <form>
    <div id="html_form_table">
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 1</span>
        </div>
        <div class="col-md-5">
          <input type="text">
        </div>
        <div class="col-md-5">
        </div>
      </div>
      <hr class="separator">
      <!--  Row 2 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 2</span>
        </div>
        <div class="col-md-5">
          <input type="text">
        </div>
        <div class="col-md-5">
          <span>* note: Donec id elit non mi porta gravida at eget metus.</span>
        </div>
      </div>
      <hr class="separator">
      <!--  Row 3 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 3</span>
        </div>
        <div class="col-md-6">
          <input type="text">
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <hr class="separator">
      <!--  Row 4 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 4</span>
        </div>
        <div class="col-md-6">
          <input type="text">
        </div>
        <div class="col-md-4 form-inline">
          <div> Text &nbsp;
            <select class="form-control form-control-sm">
              <option>Select 1</option>
              <option>Select 2</option>
              <option>Select 3</option>
              <option>Select 4</option>
            </select>
            Text
          </div>
        </div>
      </div>
      <hr class="separator">
      <!--  Row 5 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 5</span>
        </div>
        <div class="col-md-4">
          <input type="text">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <hr class="separator">
      <!--  Row 6 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 6</span>
        </div>
        <div class="col-md-10">
          <div class="row form-inline">
            <%= generate_sample_checkboxes(4) %>
          </div>
        </div>
      </div>
      <hr class="separator">
      <!--  Row 7 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 7</span>
        </div>
        <div class="col-md-10">
          <div class="row form-inline">
            <%= generate_sample_checkboxes(10) %>
          </div>
          <div class="col-md-12">
            <hr>
          </div>
          <div class="row form-inline">
            <%= generate_sample_checkboxes(10) %>
          </div>
          <div class="col-md-12">
            <hr>
          </div>
          <div class="row form-inline">
            <%= generate_sample_checkboxes(2) %>
          </div>
          <div class="col-md-12">
            <hr>
          </div>
          <div class="row form-inline">
            <%= generate_sample_checkboxes(18) %>
          </div>
        </div>
      </div>
      <hr class="separator">
      <!--  Row 8 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 8</span>
        </div>
        <div class="col-md-10">
          <div class="row form-inline">
            <%= generate_sample_checkboxes(12) %>
          </div>
        </div>
      </div>
      <hr class="separator">
      <!--  Row 9 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 9</span>
        </div>
        <div class="col-md-6">
          <input type="text">
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <hr class="separator">
      <!--  Row 10 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 10</span>
        </div>
        <div class="col-md-10">
          <div class="row form-inline">
            <%= generate_sample_checkboxes(2) %>
          </div>
        </div>
      </div>
      <hr class="separator">
      <!--  Row 11 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 11</span>
        </div>
        <div class="col-md-2">
          <div class="row form-inline">
          </div>
        </div>
      </div>
      <hr class="separator">
      <!--  Row 12 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 12</span>
        </div>
        <div class="col-md-10">
          <div class="row form-inline">
            <%= %>
          </div>
        </div>
      </div>
      <hr class="separator">
      <!--  Row 13 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 13</span>
        </div>
        <div class="col-md-10">
          <div class="row form-inline">
            <%= %>
          </div>
        </div>
      </div>
      <hr class="separator">
      <!--  Row 14 -->
      <div class="row form-group">
        <div class="col-md-2">
          <span>Label 14</span>
        </div>
        <div class="col-md-10">
          <div class="row form-inline">
            <%= %>
          </div>
        </div>
      </div>
      <hr class="separator">
      <!--  Row 14 -->
      <!--  Row 15 -->
      <!--  Row 16 -->
      <!--  Row 17 -->
      <!--  Row 18 -->
      <!--  Row 19 -->
      <!--  Row 20 -->
      <!--  Row 21 -->
      <!--  Row 22 -->
      <!--  Row 23 -->
      <!--  Row 24 -->
      <!--  Row 25 -->


      <!--      <div class="row">-->
      <!--        <div class="col-md-2">-->
      <!--          <span>Label</span>-->
      <!--        </div>-->
      <!--        <div class="col-md-10">-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-2">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="row">-->
      <!--        <div class="col-md-2">-->
      <!--          <span>Label</span>-->
      <!--        </div>-->
      <!--        <div class="col-md-10">-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-2">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="row">-->
      <!--        <div class="col-md-2">-->
      <!--          <span>Label</span>-->
      <!--        </div>-->
      <!--        <div class="col-md-10">-->
      <!--          <span>Label</span>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="row">-->
      <!--        <div class="col-md-12">-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-2">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--            <div class="col-md-10">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="row">-->
      <!--        <div class="col-md-12">-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-2">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--            <div class="col-md-10">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="row">-->
      <!--        <div class="col-md-12">-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-2">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--            <div class="col-md-10">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="row">-->
      <!--        <div class="col-md-2">-->
      <!--          <span>Label</span>-->
      <!--        </div>-->
      <!--        <div class="col-md-10">-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-2">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="row">-->
      <!--        <div class="col-md-2">-->
      <!--          <span>Label</span>-->
      <!--        </div>-->
      <!--        <div class="col-md-10">-->
      <!--          <span>Label</span>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="row">-->
      <!--        <div class="col-md-2">-->
      <!--          <span>Label</span>-->
      <!--        </div>-->
      <!--        <div class="col-md-10">-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-12">-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-12">-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-12">-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-12">-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-12">-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="row">-->
      <!--        <div class="col-md-2">-->
      <!--          <span>Label</span>-->
      <!--        </div>-->
      <!--        <div class="col-md-10">-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-2">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--              <span>Label</span>-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--            <div class="col-md-2">-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </form>
</div>